<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="mb-4">Bem-vindo ao Sistema de Questões e Provas</h1>
        <div class="d-grid gap-3">
            <a [routerLink]="['cadastra-questoes']" class="btn btn-primary btn-lg" role="button">
                Cadastrar Questões
            </a>
            <a [routerLink]="['gera-prova']" class="btn btn-success btn-lg" role="button">
                Gerar Prova
            </a>
        </div>
    </div>
</div>
