<p>cadastra-questoes works!</p>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div class="d-grid gap-3">
            <a [routerLink]="['processa-questoes']" class="btn btn-primary btn-lg" role="button">
                Processa Questões
            </a>
            <a [routerLink]="['visualiza-questoes']" class="btn btn-success btn-lg" role="button">
                Visualiza Questões
            </a>
        </div>
    </div>
</div>
