.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
  }
  
  .quadrado {
    flex: 4;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  
  
  .espaco {
    flex: 1;
  }
  